
.page{
    background: #2c3e50;  
background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  
background: linear-gradient(to right, #3498db, #2c3e50);

}
details {
  font: 1.5rem "Open Sans", Calibri, sans-serif;
  /* width: 620px; */
  width: 29%;
  margin: auto;
  text-align: justify;
  padding: 1rem;
  z-index: 10;
  color: white;
}

details > summary {
  padding: 10px;
  width: 15em;
  background-color: transparent;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
  margin: auto;
  text-align: center;
  color: red;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}

details[open] > summary {
  background-color: #ccf;
}
.griditem:hover{
    transform: scale(1.1);
   box-shadow: rgba(8, 8, 8, 0.4) -5px 5px, rgba(2, 2, 2, 0.3) -10px 10px, rgba(5, 5, 5, 0.2) -15px 15px, rgba(2, 2, 2, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.date:hover{
      transform: scale(1.1);
  box-shadow: rgba(8, 8, 8, 0.4) -5px 5px, rgba(2, 2, 2, 0.3) -10px 10px, rgba(5, 5, 5, 0.2) -15px 15px, rgba(2, 2, 2, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}


@media screen and (max-width:650px) and (min-width:200px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
